/* Styles for main page */
/* index page */
#pagination {
  margin-left: 20%; }

#borderBottom {
  width: 712px;
  border-bottom: solid 1px black; }

table {
  width: 800px;
  border-collapse: collapse;
  border-top: solid 1px black;
  border-bottom: solid 1px white; }

td, th {
  border-right: solid 1px black;
  border-left: solid 1px black; }

#title {
  width: 13%;
  text-align: left; }

#author {
  width: 13%; }

#body {
  width: 40%; }

#date {
  width: 23%; }

.titles {
  background-color: #cccccc; }

.odd {
  background-color: #eeeeee; }

.button {
  background-color: white;
  border: solid 1px white;
  border-bottom: solid 1px white; }

.new {
  display: inline-block;
  margin-left: 500px; }

#notice {
  color: green; }
