!!! 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
	%meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
	%title 
	= stylesheet_link_tag 'application'

#user_nav
	Logged in as
	= link_to current_user.first_name+' '+current_user.last_name, edit_member_user_path(current_user.id)
	, member. 
	=link_to "Logout", logout_path
	
	%br
#header
	%h1 Member
%body


	#notice
		%p= notice
	= yield
	

