%h1 User

%p
  %strong Username:
  =h @user.username
%p
  %strong Password:
  =h @user.password
%p
  %strong First Name:
  =h @user.first_name
%p
  %strong Last Name:
  =h @user.last_name
%p
  %strong Email:
  =h @user.email

%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", users_path
