!!! 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
	%meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
	%title Aticl.es -- All the World's Articles (with a name .com hipsters love)
	= stylesheet_link_tag 'scaffold', 'articles'

#header
	%h1 Articl.es
%body

	#notice
		%p= notice
	= yield
