!!! 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
	%meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
	%title Authors
	= stylesheet_link_tag 'scaffold', 'authors'
#header
	%h1 Author Details
%body

	#notice
		%p= notice
	= yield
