%h1 User

Photo:
= image_tag @user.photo.url
%p
  %strong Username:
  =h @user.username

%p
  %strong First Name:
  =h @user.first_name
%p
  %strong Last Name:
  =h @user.last_name
%p
  %strong Email:
  =h @user.email

%p
  = link_to "Edit", edit_admin_user_path(@user)
  |
  = link_to "Destroy", @admin_user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", admin_users_path
